/** VARIABLES: UI **/

/* GENERAL UI */
$ui-border-radius: 4px;
$ui-border-radius-lg: 10px;
$ui-stroke-size: 1px;

$ui-large-height: (
	null: 	64px,
	xl:		64px,
	md:		52px,
	sm:		52px,
	xs:		52px
);

$ui-small-height: (
	null:	44px,
	xl:		44px,
	md:		44px,
	sm:		44px,
	xs:		44px
);