/** VARIABLES: COLORS **/

/* MAIN COLORS */
$color-primary: #F4364C;
$color-primary-rgb: rgb(237, 55, 55);

$color-primary-hover: #E12D42;
$color-primary-hover-rgb: rgb(225, 45, 66);

$color-secondary: #00a8f3;
$color-secondary-rgb: rgb(0, 168, 243);

$color-tertiary: #26ddaa;
$color-tertiary-rgb: rgb(38, 221, 170);

$color-dark: #24135F;
$color-dark-rgb: rgb(36, 19, 95);

$color-medium: #65cbd5;
$color-medium-rgb: rgb(101, 203, 213);

$color-light: #b8e6ef;
$color-light-rgb: rgb(184, 230, 239);

$color-display: $color-dark;
$color-display-rgb: $color-dark-rgb;

$color-body: $color-dark;
$color-body-rgb: $color-dark-rgb;

/* PRODUCT TIER COLORS */
$color-tier1: #3bdca3;
$color-tier1-rgb: rgb(59, 220, 163);

$color-tier2: #008cd6;
$color-tier2-rgb: rgb(0, 140, 214);

$color-tier3: #8c66ff;
$color-tier3-rgb: rgb(140, 102, 255);

$color-tier4: #ff0057;
$color-tier4-rgb: rgb(255, 0, 87);

$color-tier5: #ff8d2c;
$color-tier5-rgb: rgb(255, 141, 44);

/* COMMON COLORS */
$color-manatee: #9b9b9b;
$color-cornsilk: #fffbdc;
$color-darkgray: #a7a7a7;
$color-shamrock: #3bdca3;
$color-shamrock-rgb: rgb(59, 220, 163);
$color-steel-blue: #406fa6;
$color-darkgray-rgb: rgb(167, 167, 167);
$color-star-rating: #ff7000;
